/* SASS ------------------------------------------------ */
@import 'basics';

/* Header ------------------------------------------------- */
header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	background-color: $cForeground;
	border-bottom: 1px solid black(.15);
	z-index: 2;
}

	/* About ------------------------------------------------- */
	header #about {
		float: left;
		margin: 14px 18px 14px 14px;

		@media screen and (max-width: $break) {
			display: none !important;
		}
	}

		header #about img#logo {
			float: left;
			width: 32px;
			height: 32px;
			background-color: black(.1);
			border-radius: 100px;
		}

		header #about h1#name {
			float: left;
			margin: 7px 0 0 14px;
			padding: 0;
			font-size: 16px;
			font-weight: 400;
			color: black(.8);
		}

	/* Close ------------------------------------------------- */
	header a#close {
		float: left;
		margin: 14px 18px 14px 14px;
		padding: 8px 10px;
		color: black(1);
		text-decoration: none;
		background-color: black(.1);
		border-radius: 5px;
		cursor: pointer;
		z-index: 1;
		display: none;

		& span.icon {
			margin-right: 6px;
		}
	}

	/* Menu ------------------------------------------------- */
	header menu {
		float: left;
		padding: 8px 0px 8px 18px;
		border-left: 1px black(.1) solid;

		@media screen and (max-width: $break) {
			border-left: none;
		}
	}

		header menu a {
			float: left;
			margin-right: 16px;
			color: black(.5);
			text-decoration: none;

			@include vendorize(transition, color $duration);

			&:hover {
				color: black(1);
			}
		}

	/* Buy ------------------------------------------------- */
	header a#buy {
		float: right;
		margin: 14px;
		padding: 8px 10px;
		color: white(1);
		text-decoration: none;
		background-color: $cMain;
		border-radius: 5px;
		cursor: pointer;

		@include vendorize(transition, background-color $duration);

		& span.icon {
			margin-right: 6px;
		}

		&:hover {
			background-color: darken($cMain, 5%);
		}

		&:active {
			background-color: lighten($cMain, 5%);
		}
	}