/* SASS ------------------------------------------------ */
@import 'basics';

/* basicModal ------------------------------------------------ */
@import '../../bower_components/basicModal/src/scss/main.scss';

/* Body ------------------------------------------------- */
html, body {
	height: 100%;
}

body {
	background-color: $cBackground;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	-moz-osx-font-smoothing: grayscale;
	@include vendorize(font-smoothing, antialiased);
	@include vendorize(user-select, none);
}

/* Footer ------------------------------------------------- */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px 0 12px;
	width: 100%;
	border-top: 1px solid black(.15);
	z-index: 1001;
}

/* Links ------------------------------------------------- */
footer a {
	margin: 0;
	padding: 5px 0 5px 10px;
	color: black(.55);
	font-size: 13px;
	text-decoration: none;

	@include vendorize(transition, color $duration);

	&:first-child { padding-left: 16px; }

	&:hover { color: black(1); }
}